{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/CSS_Files/index.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary box_clr">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static 'images\3ce196b55fd63cba9f7387a298cdc96e.jpg' %}" alt="Logo" width="40" height="38" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler bg-body-success" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-hint">Dashboard</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-item" href="{% url "index" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Home</b></button>
                        </a>
                        <a class="nav-item" href="{% url "teacher" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Teachers</b></button>
                        </a>
                        <a class="nav-item" href="{% url "all_student" %}">
                            <button class="btn btn-med btn-outline-dark"  type="button">
                               <b>All Students</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "all_result" %}">
                            <button class="btn btn-med btn-outline-dark"  type="button">
                               <b>All Results</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "all_exam" %}">
                            <button class="btn btn-med btn-outline-dark" type="button">
                               <b>All Exams</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "Nt_Oc" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Notifications and Occasions</b></button>
                        </a>
                        <a class="nav-item" href="{% url "feedback" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Feedback</b></button>
                        </a>
                    </ul>
                    <button class="btn btn-lg btn-outline-danger ml-auto" type="button"><b>Logout</b></button>
                </div>
            </div>
        </nav>
    </header>
    <h3 class="text-center mb-3">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍 - 𝑻𝒉𝒆 𝑭𝒖𝒕𝒖𝒓𝒆 𝒊𝒔 𝒉𝒆𝒓𝒆</h3>
    <main>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-sm-12 sidebar">  
                    <h2 class="text-center"></h2>
                    <div class="calendar">
                        <header>
                          <h3></h3>
                          <nav>
                            <button id="prev"></button>
                            <button id="next"></button>
                          </nav>
                        </header>
                        <section>
                          <ul class="days">
                            <li>Sun</li>
                            <li>Mon</li>
                            <li>Tue</li>
                            <li>Wed</li>
                            <li>Thu</li>
                            <li>Fri</li>
                            <li>Sat</li>
                          </ul>
                          <ul class="dates"></ul>
                        </section>
                    </div>
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>
    <footer class="footer box_clr">
        <div class="container">
            <h2><img src="{% static 'images\contact.png' %}" class="me-3" width="40" height="38">Contact us:</h2>
            <a href="shariquereza786@gmail.com"><i class="fas fa-envelope"></i> Gmail</a> |
            <a href="tel:+1234567890"><i class="fas fa-phone"></i> Phone</a> |
            <a href="https://www.instagram.com/its_sharique08/profilecard/?igsh=MWh0YmJvaWp1aHdjNw%3D%3D"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://www.linkedin.com/in/sharique-reza-82638a219/"><i class="fab fa-linkedin"></i> LinkedIn</a> |
            <a href="https://github.com/ShariqueReza"><i class="fab fa-github"></i> GitHub</a>
        </div>    
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static "app/JS_Files/index.js" %}">
    </script>
</body>
</html>
