{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %} 
    <div class="col-lg-8 col-md-8 col-sm-12 main-content">
        <div class="login-container box_clr">
            <img src="{% static 'images\3ce196b55fd63cba9f7387a298cdc96e.jpg' %}" alt="School Logo" class="logo">
            <h4 class="text-center">The Future is here</h4>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %} 
                <div class="text-center mt-3">
                    <a href="/accounts/login/">Login Again</a>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
