{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app/CSS_Files/index.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg bg-body-tertiary box_clr">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static 'images\3ce196b55fd63cba9f7387a298cdc96e.jpg' %}" alt="Logo" width="40" height="38" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler bg-body-success" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-hint">Dashboard</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <a class="nav-item" href="{% url 'index' %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Home</b></button>
                        </a>
                        {% else %}
                        <a class="nav-item" href="{% url 'login' %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Home</b></button>
                        </a>
                        {% endif %}
                        <a class="nav-item" href="{% url "teacher" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Teachers</b></button>
                        </a>
                        <a class="nav-item" href="{% url "all_student" %}">
                            <button class="btn btn-med btn-outline-dark"  type="button">
                               <b>All Students</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "all_result" %}">
                            <button class="btn btn-med btn-outline-dark"  type="button">
                               <b>All Results</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "all_exam" %}">
                            <button class="btn btn-med btn-outline-dark" type="button">
                               <b>All Exams</b>
                            </button>
                        </a>
                        <a class="nav-item" href="{% url "Nt_Oc" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Notifications and Occasions</b></button>
                        </a>
                        <a class="nav-item" href="{% url "feedback" %}">
                            <button class="btn btn-med btn-outline-dark" type="button"><b>Feedback</b></button>
                        </a>
                    </ul>
                    <div class="action-btn ml-auto">
                        {% if user.is_authenticated %}
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %} 
                            <button class="btn btn-lg btn-outline-danger" type="submit"><b>Logout</b></button>
                        </form>
                        {% else %}
                        <a class="nav-item" href="{% url "login" %}">
                            <button class="btn btn-med btn-outline-success" type="button"><b>Login</b></button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <h3 class="text-center mb-3">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍 - 𝑻𝒉𝒆 𝑭𝒖𝒕𝒖𝒓𝒆 𝒊𝒔 𝒉𝒆𝒓𝒆</h3>
    <main>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="container box_clr w-50 h-20 mb-3">
                    <div class="d-flex justify-content-center pt-2">
                        <img src="{% static 'images\3ce196b55fd63cba9f7387a298cdc96e.jpg' %}" width="50" height="45" alt="School Logo" class="logo">
                    </div>
                    <h4 class="text-center mt-2"><strong>Sign Up Here</strong></h4>
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <form method="POST" class="form">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <div class="field-error">
                                <p>{{error}}</p>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="inputs">
                                <div>
                                    <div class="form-group">
                                        <div>
                                            <strong><label for="username">Username</label></strong>
                                        </div>
                                        {{form.username}}
                                    </div>
                                    {% if form.username.errors %}
                                    <div class="field-error">
                                        <p>{{form.username.errors.as_text}}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div>
                                            <label for="email"><strong>Email</strong></label>
                                        </div>
                                        {{form.email}}
                                    </div>
                                    {% if form.email.errors %}
                                    <div class="field-error">
                                        <p>{{form.email.errors.as_text}}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div>
                                            <label for="password"><strong>Password</strong></label>
                                        </div>    
                                        {{form.password1}}
                                    </div>
                                    {% if form.password.errors %}
                                    <div class="field-error">
                                        <p>{{form.password.errors.as_text}}</p>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <div class="form-group">
                                        <div>
                                            <label for="password"><strong>Password</strong></label>
                                        </div>
                                        {{form.password2}}
                                    </div>
                                    {% if form.password2.errors %}
                                    <div class="field-error">
                                        <p>{{form.password2.errors.as_text}}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                            <div class="text-center mt-3 pb-3">
                                <a href="{% url "login" %}"><strong>Old User? Login Here</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer box_clr mt-5">
        <div class="container">
            <h2><img src="{% static 'images\contact.png' %}" class="me-3" width="40" height="38">Contact us:</h2>
            <a href="shariquereza786@gmail.com"><i class="fas fa-envelope"></i> Gmail</a> |
            <a href="tel:+1234567890"><i class="fas fa-phone"></i> Phone</a> |
            <a href="https://www.instagram.com/its_sharique08/profilecard/?igsh=MWh0YmJvaWp1aHdjNw%3D%3D"><i class="fab fa-instagram"></i> Instagram</a> |
            <a href="https://www.linkedin.com/in/sharique-reza-82638a219/"><i class="fab fa-linkedin"></i> LinkedIn</a> |
            <a href="https://github.com/ShariqueReza"><i class="fab fa-github"></i> GitHub</a>
        </div>    
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static "app/JS_Files/index.js" %}">
    </script>
</body>
</html>
