{% extends "base_template/base.html" %}
{% block title %}Exam Time Table{% endblock title %}
{% load static %}
{% block content %}
<div class="col-lg-8 col-md-8 col-sm-12 main-content">
    <h3 class="text-center mb-3"><strong>{{ class_instance.exam_class_name }}</strong></h3>
    <div id="notification_exam" class="alert alert-success" role="alert" style="display: none;">
        Saved successfully!
    </div>
    <form id="studentForm" method="POST" action="{% url 'class_exams' class_instance.slug %}" novalidate>
        {% csrf_token %}
        <div class="container row box_clr d-flex justify-content-center align-items-center mb-3 rounded" style="min-height: 50vh; min-width: 50vw;"> 
            <div class="box_clr" style="border: 2px solid #000; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <input type="hidden" name="student_id" id="student_id" value="">
                <div><input class="text-center" type="text" name="date" id="id_date" value=""><strong>-Date</strong></div>
                <div><input class="text-center" type="text" name="subject" id="id_subject" value=""><strong>-Subject</strong></div>
                <div><input class="text-center" type="text" name="shift" id="id_shift" value=""><strong>-Shift</strong></div>
                <div><input class="text-center" type="text" name="start_time" id="id_start_time" value=""><strong>-Start Time</strong></div>
                <div><input class="text-center" type="text" name="end_time" id="id_end_time" value=""><strong>-End Time</strong></div>
                <div><input class="text-center" type="text" name="total_time" id="id_total_time" value=""><strong>-Duration</strong></div>
            </div>
        </div>
        <button type="submit" class="btn btn-success" style="display: block; margin: 0 auto;">Submit</button>
        <div class="box_clr mt-4 rounded">
        <h4 class="text-center fw-bolder pt-2 pb-3">Click the EDIT button to edit Exam details</h4>
        <table class="table table-bordered">
            <thead style="font-weight: 900; background-color: black; color: white;">
                <tr>
                    <th>Date</th>
                    <th>Subject</th>
                    <th>Shift</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in exams %}
                <tr id="student-{{ exam.id }}">
                    <td>{{ exam.date }}</td>
                    <td>{{ exam.subject }}</td>
                    <td>{{ exam.shift }}</td>
                    <td>{{ exam.start_time }}</td>
                    <td>{{ exam.end_time }}</td>
                    <td>{{ exam.total_time }}</td>
                    <td>
                        <button type="button" class="btn btn-primary exam-edit-btn" data-id="{{ exam.id }}">Edit</button>
                        <button type="button" class="btn btn-danger exam-delete-btn" data-id="{{ exam.id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.exam-edit-btn').forEach(button => {
            button.addEventListener('click', function() {
                const studentId = this.getAttribute('data-id');
                fetch(`/get_exam/${studentId}/`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('student_id').value = data.id;
                        document.getElementById('id_date').value = data.date;
                        document.getElementById('id_subject').value = data.subject;
                        document.getElementById('id_shift').value = data.shift;
                        document.getElementById('id_start_time').value = data.start_time;
                        document.getElementById('id_end_time').value = data.end_time;
                        document.getElementById('id_total_time').value = data.total_time;
                    })
                    .catch(error => console.error("Error fetching data:", error));
            });
        });
        document.querySelectorAll('.exam-delete-btn').forEach(button => {
            button.addEventListener('click', function() {
                const studentId = this.getAttribute('data-id');
                fetch(`/delete_exam/${studentId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        const row = document.getElementById(`student-${studentId}`);
                        row.parentNode.removeChild(row);
                    }
                });
            });
        });
        document.getElementById('studentForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const form = event.target;
            const formData = new FormData(form);
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const row = document.getElementById(`student-${data.id}`);
                    if (row) {
                        row.querySelector('td:nth-child(1)').innerText = data.date;
                        row.querySelector('td:nth-child(2)').innerText = data.subject;
                        row.querySelector('td:nth-child(3)').innerText = data.shift;
                        row.querySelector('td:nth-child(4)').innerText = data.start_time;
                        row.querySelector('td:nth-child(5)').innerText = data.end_time;
                        row.querySelector('td:nth-child(6)').innerText = data.total_time;
                    } else {
                        const newRow = `
                            <tr id="student-${data.id}">
                                <td>${data.date}</td>
                                <td>${data.subject}</td>
                                <td>${data.shift}</td>
                                <td>${data.start_time}</td>
                                <td>${data.end_time}</td>
                                <td>${data.total_time}</td>
                                <td>
                                    <button type="button" class="btn btn-primary exam-edit-btn" data-id="${data.id}">Edit</button>
                                    <button type="button" class="btn btn-danger exam-delete-btn" data-id="${data.id}">Delete</button>
                                </td>
                            </tr>
                        `;
                        document.querySelector('tbody').insertAdjacentHTML('beforeend', newRow);
                    }
                    document.getElementById('notification_exam').style.display = 'block';
                    setTimeout(() => {
                        document.getElementById('notification_exam').style.display = 'none';
                    }, 7000);
                    document.getElementById('studentForm').reset();
                } else {
                    console.error("Error saving data:", data.errors);
                }
            })
            .catch(error => console.error("Error saving data:", error));
        });
        
        const params = new URLSearchParams(window.location.search);
        if (params.get('saved') === 'true') {
            const notification_exam = document.getElementById('notification_exam');
            notification_exam.style.display = 'block';
            setTimeout(() => {
                notification_exam.style.display = 'none';
            }, 7000);
        }
        
    });
</script>
{% endblock content %}
