{% extends "base.html" %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}   
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <h2 class="text-center mb-2">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍</h2>
                    <div class="box_clr">
                        <h3 class="text-center mb-4 about_text">Feel free to add a Feedback</h3>
                        <form method="POST" style="width: 50%; margin: 0 auto;">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="authorName" class="font-weight-bold about_text">Full Name</label>
                                <input type="text" class="form-control" id="authorName" placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label for="gmail" class="font-weight-bold about_text">Email</label>
                                <input type="email" class="form-control" id="gmail" placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label for="comment" class="font-weight-bold about_text">Comment</label>
                                <textarea class="form-control" id="comment" rows="3" placeholder="Enter your comment"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                        <h3 class="text-center about_text mt-5">What Others Say</h3>
                        <div class="container rounded" style="background-color: rgb(190, 154, 111);">
                            <div class="fs-4">
                                <h4 class="about_text">Author name</h4>
                              <div>
                                <p class="about_text">Comment</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock content %}