{% extends "base_template/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}
{% block content %} 
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <div class="container">
                        <div class="image-container">
                            <h2 class="overlay-text">𝓣𝓱𝓮 𝓕𝓾𝓽𝓾𝓻𝓮 𝓲𝓼 𝓱𝓮𝓻𝓮</h2>
                            <img src="{% static 'images\pexels-droosmo-2982449.jpg' %}" class="img-fluid rounded" alt="Responsive Image">
                        </div>

                    </div>
                    <div class="container box_clr text-center rounded about">
                        <h2 class="about_text">About Us</h2>
                        <p class="about_text">Brighton School, founded in 1998, has been a beacon of excellence in education for over two decades.
                        Our institution is committed to nurturing young minds and fostering a love for learning. We believe that
                        education is not just about academics but also about developing well-rounded individuals who are prepared
                        to face the challenges of the future.</p>
                        <p class="about_text">At Brighton School, our vision is encapsulated in our motto, “The Future is here.” We strive to create
                        an environment where students can explore their potential, innovate, and excel. Our goal is to equip 
                        students with the skills and knowledge they need to succeed in an ever-changing world. We offer a 
                        comprehensive curriculum that balances rigorous academic standards with creative and critical thinking.</p>
                        <p class="about_text">Our campus boasts state-of-the-art facilities, including modern classrooms, science and computer labs, a
                        well-stocked library, and sports amenities. We believe in the importance of extracurricular activities in 
                        developing a well-rounded personality. Our students have the opportunity to participate in various clubs,
                        sports, arts, and community service projects, which help in building teamwork, leadership skills, and a 
                        sense of responsibility.</p>
                    </div>
                </div>         
{% endblock content %}
