{% extends "base_template/base.html" %}
{% block title %}Notifications and Occasions{% endblock title %}
{% load static %}
{% block content %} 
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <h2 class="text-center">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍</h2>
                    <h3 class="text-center mt-3">Notifications</h3>
                    <table class="table table-bordered">
                        <thead style="font-weight: 900; background-color: black; color: white;">
                            <tr>
                                <th class="about_text">Title</th>
                                <th class="about_text">Date</th>
                                <th class="about_text">Descriptions</th>
                        </thead>
                        <tbody style="background-color: rgb(240, 208, 170); font-weight:600; cursor: pointer;">
                            <tr>
                                <td class="about_text">sfdh</td>
                                <td class="about_text">sfdh</td>
                                <td class="about_text">sfdh</td> 
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="text-center mt-3">Occasions</h3>
                    <table class="table table-bordered">
                        <thead style="font-weight: 900; background-color: black; color: white;">
                            <tr>
                                <th class="about_text">Title</th>
                                <th class="about_text">Date</th>
                                <th class="about_text">Descriptions</th>
                        </thead>
                        <tbody style="background-color: rgb(240, 208, 170); font-weight:600; cursor: pointer;">
                            <tr>
                                <td class="about_text">sfdh</td>
                                <td class="about_text">sfdh</td>
                                <td class="about_text">sfdh</td> 
                            </tr>
                        </tbody>
                    </table>
                </div>
{% endblock content %}