{% extends "base.html" %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <h2 class="text-center">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍</h2>
                    <h3 class="text-center">Class 7</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Parent Ph No.</th>
                                <th>Parents Names</th>
                                <th>Blood Gr</th>
                                <th>Emergency Contact No.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Doe</td>
                                <td>john.doe@gmail.com</td>
                                <td>123-456-7890</td>
                                <td>Math, Science</td>
                                <td>Class 5</td>
                                <td>Science Department</td>
                            </tr>
                            <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                    
                </div>
{% endblock content %}
