{% extends "base.html" %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <h2 class="text-center">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍</h2>
                    <h3 class="text-center">{{class_instance.class_name}}</h3>
                    <form id="studentForm">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th class="address-col">Address</th>
                                    <th>Contact No</th>
                                    <th>Parent's Name</th>
                                    <th>Blood Group</th>
                                    <th>Emergency Contact</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" class="form-control" name="st_name" value="" readonly></td>
                                    <td><input type="text" class="form-control" name="address" value="123 Street" readonly></td>
                                    <td><input type="text" class="form-control" name="contact_no" value="1234567890" readonly></td>
                                    <td><input type="text" class="form-control" name="parents_name" value="Jane Doe" readonly></td>
                                    <td><input type="text" class="form-control" name="blood_gr" value="A+" readonly></td>
                                    <td><input type="text" class="form-control" name="emergency" value="9876543210" readonly></td>
                                    <td>
                                        <button type="button" class="btn btn-primary edit-btn">Edit</button>
                                        <button type="button" class="btn btn-danger delete-btn">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="form-control" name="st_name" value="Jane Smith" readonly></td>
                                    <td><input type="text" class="form-control" name="address" value="456 Avenue" readonly></td>
                                    <td><input type="text" class="form-control" name="contact_no" value="2345678901" readonly></td>
                                    <td><input type="text" class="form-control" name="parents_name" value="John Smith" readonly></td>
                                    <td><input type="text" class="form-control" name="blood_gr" value="B+" readonly></td>
                                    <td><input type="text" class="form-control" name="emergency" value="8765432109" readonly></td>
                                    <td>
                                        <button type="button" class="btn btn-primary edit-btn">Edit</button>
                                        <button type="button" class="btn btn-danger delete-btn">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>                 
                </div>
{% endblock content %}
