{% extends "base.html" %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}   
    <main>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-4 col-sm-12 sidebar">  
                    <h2 class="text-center"></h2>
                    <div class="calendar">
                        <header>
                          <h3></h3>
                          <nav>
                            <button id="prev"></button>
                            <button id="next"></button>
                          </nav>
                        </header>
                        <section>
                          <ul class="days">
                            <li>Sun</li>
                            <li>Mon</li>
                            <li>Tue</li>
                            <li>Wed</li>
                            <li>Thu</li>
                            <li>Fri</li>
                            <li>Sat</li>
                          </ul>
                          <ul class="dates"></ul>
                        </section>
                    </div>
                    <div class="container mt-5 box_clr rounded" style="max-width: 75%;">
                        <div class="dropdown d-flex justify-content-center">
                            <button class="btn btn-med btn-outline-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Announcement
                            </button>
                            <ul class="dropdown-menu box_clr">
                                <li><button class="dropdown-item btn btn-secondary" href="#">Announcement-1</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Announcement-2</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Announcement-3</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Announcement-4</button></li>
                            </ul>
                        </div>
                
                        <div class="dropdown mt-3 d-flex justify-content-center">
                            <button class="btn btn-med btn-outline-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Events
                            </button>
                            <ul class="dropdown-menu box_clr">
                                <li><button class="dropdown-item btn btn-secondary" href="#">Event-1</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Event-2</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Event-3</button></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><button class="dropdown-item btn btn-secondary" href="#">Event-4</button></li>
                            </ul>
                        </div>
                    </div>
                
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 main-content">                    
                    <h2 class="text-center">𝑩𝒓𝒊𝒈𝒉𝒕𝒐𝒏 𝑺𝒄𝒉𝒐𝒐𝒍</h2>
                    <table class="table table-bordered">
                        <thead style="font-weight: 900; background-color: black; color: white;">
                            <tr>
                                <th class="about_text">Name</th>
                                <th class="about_text">Email</th>
                                <th class="about_text">Phone No.</th>
                                <th class="about_text">Subjects</th>
                                <th class="about_text">Class Teacher</th>
                                <th class="about_text">Position</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgb(240, 208, 170); font-weight:600; cursor: pointer;">
                            {% for t in teacher %}
                            <tr>
                                <td class="about_text">{{t.name}}</td>
                                <td class="about_text">{{t.Email}}</td>
                                <td class="about_text">{{t.phone_number}}</td>
                                <td class="about_text">{{t.subjects}}</td>
                                <td class="about_text">{{t.class_teacher_of}}</td>
                                <td class="about_text">{{t.position}}</td>   
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
    </main>
        
{% endblock content %}
