.div_clr{
    background-color: beige;
}
.box_clr{
    background-color: bisque;
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
}
